html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.body__homepage {
  font-family: "Roboto", sans-serif;
  background-color: #F7F7F7;
}

body {
  background-color: white;
}

main {
  margin: auto;
}

.restaurants {
  padding: 54px 17px 64px 17px;
}

li, ul, ol {
  list-style: none;
}

@media only screen and (min-width: 994px) {
  .tutorial__container {
    max-width: 1200px;
    margin: auto;
  }
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 1.875rem;
  color: black;
}

.menu__title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 1.875rem;
  color: black;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

h2,
h3,
h4,
h5,
p {
  font-family: "Roboto", sans-serif;
  line-height: 1.1;
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.submenu__title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 1rem;
  line-height: 1.1;
}

.footer__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 1rem;
  line-height: 1.1;
}

.hero__title .restaurants__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 24px;
  line-height: 1.1;
}

.hero__desc {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #353535;
  font-size: 18px;
  line-height: 1.1;
}

.details__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 18px;
  line-height: 1.1;
  margin-bottom: 0.3rem;
}

.details__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 15;
  line-height: 1.1;
}

.like__btn {
  cursor: pointer;
  position: relative;
  font-size: 0.8rem;
}
.like__btn--nobg {
  transition: opacity 0.5s;
  opacity: 1;
  color: black;
}
.like__btn--bg {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-background-clip: text;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.title__btn {
  font-size: 0.9rem;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999999999;
  animation: loader 0.01s;
  animation-delay: 2s;
  animation-fill-mode: both;
}
.loader__container {
  width: 30vh;
  height: 22.5vh;
  display: flex;
  justify-content: space-evenly;
}
.loader__item {
  height: 100%;
  width: 3vh;
  animation: bars 500ms backwards infinite ease-in-out alternate;
}
.loader__item--1 {
  animation-delay: 100ms;
}
.loader__item--2 {
  animation-delay: 200ms;
}
.loader__item--3 {
  animation-delay: 300ms;
}
.loader__item--1 {
  background-color: #9356DC;
}
.loader__item--2 {
  background-color: #99E2D0;
}
.loader__item--3 {
  background-color: #FF79DA;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: white;
  z-index: 999;
}
.header__logo {
  margin-top: 14px;
  margin-bottom: 5px;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero__title {
  margin: auto;
  margin-top: 40px;
  width: 70%;
  transition: all 0.2s;
}
@media only screen and (min-width: 994px) {
  .hero__title {
    font-size: 2.5rem;
  }
}
.hero__desc {
  margin: auto;
  margin-top: 15px;
  width: 90%;
  font-size: 1.125rem;
}

.local {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  gap: 17px;
  background: #EAEAEA;
  z-index: 1;
}
.local i {
  color: #353535;
}
.local h4 {
  margin-top: 16px;
  margin-bottom: 15px;
  color: #353535;
}

.tutorial {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding-bottom: 4rem;
  z-index: 999;
}
.tutorial__container {
  width: 95%;
  padding-left: 0.5rem;
  margin: auto;
}
.tutorial h2 {
  margin-top: 40px;
  margin-bottom: 26px;
  justify-content: flex-start;
}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
@media only screen and (min-width: 994px) {
  .list {
    gap: 2rem;
    flex-direction: row;
  }
}
.list__element {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  counter-increment: list;
  position: relative;
  width: 95%;
  border: none;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  gap: 27px;
  padding: 29px 0px 29px 35px;
  z-index: 1;
}
.list__element--icon {
  font-size: 20px;
  color: #7E7E7E;
}
.list__element:before {
  font-family: "Roboto", sans-serif;
  position: absolute;
  content: counter(list);
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  left: -0.75rem;
}
.list__element--title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.restaurants {
  max-width: 1200px;
  margin: auto;
}

.restaurants__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media only screen and (min-width: 994px) {
  .restaurants__container {
    gap: 2rem;
  }
}
.restaurants__container--cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media only screen and (min-width: 994px) {
  .restaurants__container--cards {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}

.footer {
  background-color: #353535;
}
.footer__container {
  padding: 1rem;
}
@media only screen and (min-width: 994px) {
  .footer__ul {
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    align-items: center;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 2%;
  transition: all 0.8s;
}
@media only screen and (min-width: 994px) {
  .footer__container {
    margin-right: 10%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4%;
  }
}

.footer__link {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.8rem;
}
@media only screen and (min-width: 994px) {
  .footer__link {
    padding: 0;
  }
}
.footer__link--icon {
  position: relative;
  top: 2px;
  width: 13px;
  font-size: 13px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: #FFFFFF;
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 994px) {
  .card {
    flex: 0 0 auto;
    width: 30%;
  }
}
.card img {
  object-fit: cover;
  height: 231px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.card__sticker {
  background-color: #99E2D0;
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #008766;
  font-size: 0.9rem;
  line-height: 1.1;
}

.card__info {
  position: relative;
  display: flex;
  padding: 0.8rem 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card__info--box {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 20px 20px;
}
.card__info--title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 0.2rem;
}
.card__info--subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 1rem;
  line-height: 1.1;
}

.header__restaurants {
  position: relative;
}
.header__restaurants--arrow {
  position: absolute;
  left: 2rem;
  top: 40%;
  color: black;
  font-size: 1.2rem;
}

.body__restaurants {
  background-color: white;
}

.menu {
  margin: auto;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #F7F7F7;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 994px) {
  .menu {
    max-width: 1100px;
  }
}

.hero__img {
  width: 100%;
  object-fit: cover;
  height: 275px;
  z-index: 1;
}

.menu__section {
  flex-direction: column;
  width: 100%;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 20px 20px 0px 0px;
  max-width: 665px;
  margin: auto;
}
@media only screen and (min-width: 994px) {
  .menu__section {
    width: 70%;
    margin: auto;
  }
}
.menu__section--title {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  gap: 24px;
}

.submenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
  width: 100%;
}
.submenu__title {
  position: relative;
  margin-bottom: 20px;
  animation-name: submenuItemAppear;
  animation-timing-function: cubic-bezier(0, 0.59, 0.13, 1);
  opacity: 0;
  transform: translateY(0);
  animation-duration: 3000ms;
  animation-fill-mode: both;
}
.submenu__title::after {
  position: absolute;
  content: "";
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  left: 1px;
  top: 27px;
  animation-name: submenuItemAppear;
  animation-timing-function: cubic-bezier(0, 0.59, 0.13, 1);
  opacity: 0;
  transform: translateY(0);
  animation-duration: 3000ms;
  animation-fill-mode: both;
}
.submenu__item {
  display: flex;
  background: #FFFFFF;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  animation-delay: 0.2s;
  animation-name: submenuItemAppear;
  animation-timing-function: cubic-bezier(0, 0.59, 0.13, 1);
  opacity: 0;
  transform: translateY(0);
  animation-duration: 3000ms;
  animation-fill-mode: both;
}
.submenu__price {
  display: flex;
  padding-left: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #353535;
  font-size: 15px;
  line-height: 1.1;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 4rem;
  transition-duration: 0.5s;
}
.submenu__checkbox {
  background-color: #99E2D0;
  margin: -1rem -1rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(4rem);
  transition-duration: 0.5s;
}

.checkbox__wrapper {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.checkbox__wrapper--icon {
  color: #99E2D0;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.details__title {
  text-overflow: ellipsis;
  overflow: hidden;
}
.details__subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
}

.list__element {
  position: relative;
}
.list__element:hover .list__element--icon {
  transition: color 250ms;
  color: #9356DC;
}
.list__element:hover::after {
  opacity: 1;
}
.list__element::after {
  content: "";
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 20px;
  background-color: #F5EDFF;
  transition: opacity 250ms;
}

.hero__btn {
  position: relative;
  transition: all 250ms;
  z-index: 1;
}
.hero__btn:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.hero__btn:hover::after {
  opacity: 0.15;
}
.hero__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  background-color: white;
  border-radius: 25px;
}

.submenu__btn {
  position: relative;
  transition: all 250ms;
  z-index: 1;
}
.submenu__btn:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.submenu__btn:hover::after {
  opacity: 0.15;
}
.submenu__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  background-color: white;
  border-radius: 25px;
}

.submenu__item:hover .submenu__price {
  margin-right: 0rem;
}
.submenu__item:hover .submenu__checkbox {
  transform: translateX(0rem);
}
.submenu__item:hover .checkbox__wrapper {
  transform: rotate(0);
}

.like__btn:hover .like__btn--nobg {
  opacity: 0;
}
.like__btn:hover .like__btn--bg {
  opacity: 1;
}

@keyframes submenuItemAppear {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
.hero__btn {
  display: flex;
  cursor: pointer;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 1rem 1.3rem;
  justify-content: center;
  border: none;
  border-radius: 2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}
.hero__btn--title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 1rem;
  line-height: 1.1;
}

.submenu__btn {
  display: flex;
  cursor: pointer;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 1.3rem;
  justify-content: center;
  border: none;
  border-radius: 2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}
.submenu__btn--title {
  margin: 0 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 1rem;
  line-height: 1.1;
}

/*# sourceMappingURL=main.css.map */
