html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F7F7F7;
}

main {
  margin: auto;
}

.restaurants {
  padding: 54px 17px 64px 17px;
}

li, ul, ol {
  list-style: none;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 1.875rem;
  color: black;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

h2,
h3,
h4,
h5,
p {
  font-family: "Roboto", sans-serif;
  line-height: 1.1;
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.footer__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 1rem;
  line-height: 1.1;
}

.hero__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 24px;
  line-height: 1.1;
}

.hero__desc {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #353535;
  font-size: 18px;
  line-height: 1.1;
}

.details__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 18px;
  line-height: 1.1;
  margin-bottom: 0.3rem;
}

.details__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 15;
  line-height: 1.1;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: white;
  z-index: 999;
}
.header__logo {
  margin-top: 14px;
  margin-bottom: 5px;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero__title {
  margin: auto;
  margin-top: 40px;
  width: 70%;
}
.hero__desc {
  margin: auto;
  margin-top: 15px;
  width: 90%;
  font-size: 1.125rem;
}

.local {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  gap: 17px;
  background: #EAEAEA;
  z-index: 1;
}
.local i {
  color: #353535;
}
.local h4 {
  margin-top: 16px;
  margin-bottom: 15px;
  color: #353535;
}

.tutorial {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding: 0px 20px;
  padding-bottom: 68px;
  z-index: 999;
}
.tutorial h2 {
  margin-top: 40px;
  margin-bottom: 26px;
  justify-content: flex-start;
}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.list__element {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  counter-increment: list;
  position: relative;
  width: 95%;
  border: none;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  gap: 27px;
  padding: 29px 0px 29px 35px;
  z-index: 1;
}
.list__element--icon {
  font-size: 20px;
  color: #7E7E7E;
}
.list__element:before {
  font-family: "Roboto", sans-serif;
  position: absolute;
  content: counter(list);
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  left: -0.75rem;
}
.list__element--title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.footer {
  background-color: #353535;
}
.footer__container {
  padding: 1rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__link {
  display: flex;
  gap: 11px;
  padding-bottom: 8px;
}
.footer__link--icon {
  width: 13px;
  font-size: 13px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: #FFFFFF;
  width: 100%;
}
.card img {
  object-fit: cover;
  height: 231px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.card__info {
  display: flex;
  padding: 5px 13px 12px 13px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card__info--box {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 20px 20px;
}
.card__info--box h2 {
  color: black;
  font-size: 1.125rem;
}
.card__info--box p {
  color: black;
  font-size: 16px;
}
.card__info--heart i {
  border: 2px solid black;
  font-size: 21px;
}

.menu {
  margin: auto;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #F7F7F7;
  position: relative;
  z-index: 2;
}

.hero__img {
  width: 100%;
  object-fit: cover;
  height: 275px;
  z-index: 1;
}

.menu__section {
  flex-direction: column;
  width: 95%;
  padding: 31px 10px 60px 10px;
  border-radius: 20px 20px 0px 0px;
  margin: auto;
}
.menu__section--title {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 44px;
}
.menu__section--title i {
  font-size: 21px;
}

.submenu {
  display: flex;
  flex-direction: column;
}
.submenu__title {
  position: relative;
  margin-bottom: 20px;
}
.submenu__title::after {
  position: absolute;
  content: "";
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  left: 1px;
  top: 27px;
}
.submenu__item {
  display: flex;
  background: #FFFFFF;
  padding: 1rem;
  border-radius: 15px;
  margin: 1rem 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
}
.submenu__price {
  display: flex;
  padding-left: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #353535;
  font-size: 15px;
  line-height: 1.1;
  align-items: flex-end;
}
.submenu__checkbox {
  display: flex;
  align-items: center;
  background-color: #99E2D0;
}

.checkbox__wrapper {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
.checkbox__wrapper--icon {
  color: #99E2D0;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list__element {
  position: relative;
}
.list__element:hover .list__element--icon {
  transition: color 250ms;
  color: #9356DC;
}
.list__element:hover::after {
  opacity: 1;
}
.list__element::after {
  content: "";
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 20px;
  background-color: #F5EDFF;
  transition: opacity 250ms;
}

.hero__btn {
  position: relative;
  transition: all 250ms;
  z-index: 1;
}
.hero__btn:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.hero__btn:hover::after {
  opacity: 0.15;
}
.hero__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  background-color: white;
  border-radius: 25px;
}

.hero__btn {
  display: flex;
  cursor: pointer;
  margin: auto;
  margin-top: 27px;
  margin-bottom: 60px;
  width: 218px;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}
.hero__btn--title {
  margin: 13px 18.75px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
