.header__restaurants {
    position: relative;
    &--arrow {
        position: absolute;
        left: 2rem;
        top: 40%;
        color: black;
        font-size: 1.2rem;
    }

}
.body__restaurants {
    background-color: white;
}

.menu {
    margin: auto;
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #F7F7F7;
    position: relative;
    z-index: 2;
    @include desktop-only {
        max-width: 1100px;
    }
}
.hero__img {
    width: 100%;
    object-fit: cover;
    height: 275px;
    z-index: 1;
}

.menu__section {
    flex-direction: column;
    width: 100%;
    padding:2rem 1rem 1rem 1rem;
    border-radius: 20px 20px 0px 0px;
    max-width: 665px;
    margin: auto;
    @include desktop-only {
        width: 70%;
        margin: auto;

    }
    &--title{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom:1rem;
        gap:24px;
    }
}

.submenu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    &__title {
        position: relative;
        margin-bottom: 20px;
        @include animation (submenuItemAppear,3000ms)
    }
    &__title::after {
        position: absolute;
        content:"";
        background-color:#99E2D0;
        height: 3px;
        width: 40px;
        left: 1px;
        top: 27px;
        @include animation (submenuItemAppear,3000ms)
    }
    &__item {
        display: flex;
        background: #FFFFFF;
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        cursor: pointer;
        max-width: 100%;
        animation-delay: 0.2s;
        @include animation (submenuItemAppear,3000ms);
    }
    &__price {
        display: flex;
        padding-left: 0.5rem;
        @include font (15px,#353535,700);
        align-items:flex-end;
        justify-content: flex-end;
        transform: translateX(4rem);
        transition-duration: 0.5s;
    }
    &__checkbox {
        background-color: $colour-secondary;
        margin: -1rem -1rem -1rem 1rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(4rem);
        transition-duration: 0.5s;
        
    }
}

.checkbox__wrapper {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;
    &--icon {
        color: $colour-secondary;
    }
}


.details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &__title {
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__subtitle {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}