.list__element {
    position: relative;

    &:hover {
        .list__element--icon {
            transition: color 250ms;
            color: $colour-primary;
        }

        &::after {
            opacity: 1;
        }
    }
    &::after {
        content:"";
        @include afters;
        border-radius: 20px;
        background-color: $colour-primary-lighten;
        transition: opacity 250ms;
    };
}

.hero__btn {
    position: relative;
    transition: all 250ms;
    z-index: 1;
    &:hover {
        &::after{
            opacity: 0.15;
        }
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    }
    &::after {
        @include afters;
        background-color: white;
        border-radius: $btn-border-radius;
    }
}

.submenu__item:hover {
    .submenu__price {
        transform:translateX(0rem);
    }
    .submenu__checkbox {
       transform:translateX(0rem);
    }
    .checkbox__wrapper {
        transform: rotate(0);
    }
}

.like__btn:hover {

    .like__btn--nobg {
        opacity: 0;
    }
    .like__btn--bg {
        opacity: 1;
    }
}