
html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

.body__homepage {
    font-family:'Roboto', sans-serif;
    background-color:$background-color;
}
body {
    background-color: white;
}

main {
    margin: auto;
    // overflow-x: hidden;
}

.restaurants {
    padding: 54px 17px 64px 17px;
}
li, ul, ol {
    list-style: none;
}

.tutorial__container {
    @include desktop-only {
        max-width: 1200px;
        margin: auto;
    }
}