
html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

body {
    font-family:'Roboto', sans-serif;
    background-color:$background-color;
}

main {
    margin: auto;
}

.restaurants {
    padding: 54px 17px 64px 17px;
}
li, ul, ol {
    list-style: none;
}