$colour-primary:#9356DC;
$colour-primary-lighten:#F5EDFF;
$colour-secondary-darken:#008766;
$colour-secondary:#99E2D0;
$colour-tertiary:#FF79DA;
$background-color:#F7F7F7;
$bloc-background-color:#FFFFFF;
$btn-gradient:(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$footer-background: #353535; 
