$font:'Roboto', sans-serif;
$logo:'Shrikhand', cursive;
h1 {
    @include logo(1.875rem,black);
}

.menu__title {
    @include logo(1.875rem,black);
}
.footer__logo {
    @include logo(18px,white);
}

h2,
h3,
h4,
h5,
p {
    font-family: $font;
    line-height: 1.1;
    margin-top: 0;
}

a, 
a:visited, 
a:active {
    text-decoration: none;
}

.submenu__title {
    @include font (1rem,black,300)
}

.footer__link {
    @include font (1rem,white,500)
}

.hero__title {
    @include font (24px,black,700)
}

.hero__desc {
    @include font (18px,$footer-background,300)
}

.details__title {
    @include font(18px,black,500);
    margin-bottom:0.3rem; 
}

.details__subtitle {
    @include font (15,black,300);
}